@import url('./fonts.css');
@import url('./vars.css');
@import url('./typography.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#modals {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  z-index: 999 !important;
  pointer-events: none !important;
}
