.sectionSize {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrapper {
  width: 300px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 320px;
  overflow: auto;
}

.order {
  color: #00cccc;
}
