.ingredient {
  max-width: 640px;

  max-width: 600px;
}

.ingredient_list {
  max-width: 640px;
  overflow: auto;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
  flex-wrap: wrap;
}

.ingredient_title {
  text-transform: capitalize;
}
