{
  "plugins": ["cypress"],
  "extends": ["plugin:cypress/recommended"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
