.main {
  max-width: calc(680px + 680px);
  max-height: calc(100vh - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--offset-base-size) * 10);
}

.burger_ingredients {
  width: 100%;
}

.burger_constructor {
  width: 100%;
}
