.burger_ingredient {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger_ingredient div {
  max-width: 100%;
  border: 5px solid transparent;
}

.burger_ingredient_drag {
}

.burger_ingredient_drag:hover {
  cursor: move;
}

.burger_ingredient_bottom img {
  transform: rotate(180deg);
}
