.modal {
  width: 720px;
  display: block;
  background-color: var(--background);
  position: relative;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: var(--common-border-radius-s);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  pointer-events: all;
}

.modal_wrapper {
  width: 100vw;
  height: 100vh;

  position: fixed;
  display: flex;

  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
}

.close_button:hover {
  cursor: pointer;
}
