.item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-decoration: none;
}

.title {
  color: var(--text-inactive-color);
  white-space: nowrap;
}

.title:hover {
  color: var(--text-primary-color);
  fill: var(--text-inactive-color);
}
