.item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  color: var(--text-inactive-color);
  white-space: nowrap;
}

.title:hover {
  color: var(--text-primary-color);
  fill: var(--text-inactive-color);
}
