.header {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: calc(var(--offset-base-size) * 2);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
