.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);

  max-width: 570px;
}

.constructor_main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  overflow: auto;
  padding-right: 8px;

  max-height: 500px;
}

.constructor_price {
  display: flex;
  justify-content: right;
  align-items: center;
}

.constructor_order_button::first-letter {
  text-transform: uppercase;
}

.constructor_main_empty {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-element);
  border-radius: 22px;
}

.constructor_top_empty,
.constructor_bottom_empty {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-element);
}

.constructor_top_empty {
  border-radius: var(--top-constructor-item-border-radius);
}

.constructor_bottom_empty {
  border-radius: var(--bottom-constructor-item-border-radius);
}
