.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
}

.constructor_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--offset-base-size) * 4);
  overflow: auto;

  height: 370px;
}
