.constructor_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(var(--offset-base-size) * 4);

  overflow: auto;
}

.box_drop {
  background-color: var(--colors-button-inactive);
  border-radius: var(--common-border-radius-s);
}

.box_drop_active {
  border-radius: var(--common-border-radius-s);
  background-color: var(--colors-interface-accent);
}
